@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 62.9%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #b68efc, #6864f7); 
  display: grid;
  place-items: center;
}

.news-blogs-app {
  display: grid;
  width: 95vw;
  height: 95vh;
  background: #060708;
  box-shadow: 0 2rem 3rem rgba(0,0, 0, 0.5);
  border-radius: 1rem;
}



















