.news {
    font-size: 2rem;
    color: white;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
}

.news-header {
    width: 100%;
    min-height: 7rem;
    background-color: #111214;
    border-radius: 1rem 1rem 0rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.search-bar {
    position: relative;
    cursor: pointer;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    color: #ddd;
    letter-spacing: 0.2rem;
}

.search-bar input {
    width: 25rem;
    height: 4rem;
    background-color: #060709;
    border: none;
    border-radius: 5rem;
    padding: 0 4rem 0 2rem;
    color: #ddd;
}

.search-bar input:focus {
    width: 35rem;
    transition: width 0.3s;
}

.search-bar input:focus::placeholder {
    color: transparent;
}

.search-bar button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: #bbb;
    font-size: 1.8rem;
}

.news-content {
    display: flex;
    column-gap: 2rem;
    height: calc(100% - 16rem);
    padding: 0 2rem;
    border: 2px solid red;
}

.navbar {
    width: 18rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem; 
    border: 1px solid white;
}

.user {
    width: 100%;
    height: 20%;
    background-color: #111214;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    cursor: pointer;
}

.user img {
    width: 7rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.user p {
    font-family: "Comforta", sans-serif;
    font-size: 1.5rem;
    color: #bbb;
}

.categories {
    width: 100%;
    height: calc(80% - 2rem);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 2rem;
}

.nav-headings {
font-family: "Bebas Neue", sans-serif;
font-size: clamp(1.5rem, 2.5cqi, 3rem);
color: #ddd;
letter-spacing: 0.2rem;
margin-bottom: 1.5rem;
}

.nav-links {
    display: flex;
    flex-direction:column;
    row-gap: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 200;
    color: #ddd;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #fff;
    transform: scale(1.2);
}

.icon {
font-size: 1.7rem;
color: #ddd;
margin-left: 1rem;
display: block;
}

.news-section {
    width: clamp(30rem, 43cqi, 40%);
    height: 100%;
    border-radius: 1rem;
    border: 1px solid red;
}

.headline {
    width: 100%;
    height: 18rem;
    /* height: 250px; */
    background-color: #111214;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
}

.headline img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.6;
}

.headline-title {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
padding: 1rem 4rem 1rem;
font-family: "Bebas Neue", sans-serif;
font-size: clamp(1.5rem, 1.8cqi, 3rem);
letter-spacing: 0.1rem;
color: #fff;
background-color: rgba(0,0,0,0.7);
border-radius: 0, 0, 1rem 1rem;
}

.bookmark {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.news-grid {
    width: 100%;
    height: 30vh;
    background-color: #111214;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
} 

.news-grid-item {
    position: relative;
    width: 100%;
    height: 11rem;
    border-radius: 1rem;
    cursor: pointer;
}

.news-grid-item h3 {
position: absolute;
bottom: 0rem;
left: 0;
font-size: 1.5rem;
padding: 1rem 3rem 1rem 1rem;
font-family: "Bebas Neue", sans-serif;
line-height: 1.4rem;
background-color: rgba(0,0,0,0.7);
border-radius: 0 0 1rem 1rem;
width: 100%;
font-weight: 300;
}

.news-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
    opacity: 0.5;
}

.my-blogs {
    width: clamp(20rem, 27cqi, 28%);
    background-color: #111214;
    border-radius: 1rem;
}

.weather-calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.news-footer {
    width: 100%;
    min-height: 5rem;
    background-color: #111214;
    border-radius: 0rem 0rem 1rem 1rem;
    border: 1px solid red;
}