.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 60rem;
    height: auto;
    max-height: 100%;
    background-color: #111214;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem 4rem rgba(0 0 0 0.5);
    position: relative;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.modal-image {
width: 100%;
height: auto;
max-height: 30rem;
object-fit: cover;
border-radius: 1rem;
opacity: 0.5;
}

.modal-title {
    font-family: "Nebas Neue", sans-serif;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
}

.modal-source, .modal-date {
    font-family: "Comforta", sans-serif;
    font-size: 1.4rem;
    color: #bbb;
    margin-top: 1rem;
}

.modal-content-text {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    color: #ddd;
    line-height: 2rem;
}

.read-more-link {
    width: 15rem;
    display: inline-block;
    margin-top: 1.5rem;
    background: linear-gradient(to right, #b88efc, #6877f4);
    color: #fff;;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
}

.read-more-link:active {
    transform: translateY(0.5rem);
}
