.container-player {
    width: 100%;
    min-width: 28rem;
    height: 100%;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    background-color: #111;
}

.container-player h1 {
    font-size: 2rem;
}

.btn-now-playing {
display: block;
width: max-content;
margin: 0 auto;
}

.div-now-playing div {
    display: flex;
    justify-content: space-between;
}

.div-now-playing img {
    display: block;
    width: 50%;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 0.2rem;
}